
.navbar {
    background-color: #333;
    overflow: hidden;
    align-items: center;
    justify-content: start;
    display: flex;
}
.title {
    font-family: 'Cinzel', serif;
    font-weight: 1000;
    float: left;
    color: #f2f2f2;
    padding-left: 2%;
    padding-right: 2%;
    text-decoration: none;
    font-size: 20px;
    /* not working text-shadow: #000, 20px 20px; */
}
.skullOnBooks {
   width: 75px;
   position: relative;
   left: -14px;
   height: auto;
}

.navbutton {
    font-family: 'Cinzel', serif;
    float: left;
    color: #f2f2f2;
    background-color: darkred;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin-left: 6px;
}
.navbutton:hover {
    background-color: #ddd;
    color: black;
    font-size: large;
}
.biglogo {
    display:flex;
    align-items:center;
    justify-content:center;
    margin: auto;
}
.contentbox {
    display:flex;
    align-items:center;
    justify-content:center;
    width: 1000px;
    height: 500;
    background-color: #333;
    padding: 50px;
    margin: auto; 
    margin-top: 55px;
}
.hiddencontentbox {
    display:none;
}
.formtitle {
    margin-top: -250px;
    font-family: 'Cinzel', serif;
    font-weight: 800;
    color: #f2f2f2;
    /* padding-left: 2%;
    padding-right: 2%; */
    text-decoration: none;
    font-size: 60px;
}
#newUserForm {
    text-align: center;
}
.formInputBox {
    width: 65%;
    height: 8%;
    font-size: 150%;
    font-family: 'Cinzel', serif;
}
.formsubmit {
    width: 15%;
    height: 10%;
    font-size: 115%;
}
#maparea {
    background-image: url(src/images/map.png);
    width: 105%;
    height: 112.9%;
    background-size: cover;
}
.sidenav {
    height: 73.5%; /* Full-height: remove this if you want "auto" height */
    width: 155px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 5; /* Stay on top */
    top: 129; /* Stay at the top */
    left: 8;
    background-color: #333; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
  }
.sidenavtitle {
    font-family: 'Cinzel', serif;
    font-weight: 1000;
    float: left;
    color: #f2f2f2;
    padding-left: 2%;
    padding-right: 2%;
    text-decoration: none;
    font-size: 16px;
    border: 2px white;
}
.sidebarimg {
    width: 75px;
    position: relative;
    left: -1px;
    height: auto;
}
.sidebarimg2 {
    width: 60px;
    position: relative;
    left: 9px;
    height: auto;
}
.sidebarimg3 {
    width: 93px;
    position: relative;
    left: -9px;
    height: auto;
}
.sidebarimgdiv{
    display: flex;
}
.clear {
    clear: both;
}
.defenderbutton {
    height: 20px;
    width: auto;
    margin-top: 25px;
}
.defenderbutton1 {
    height: 20px;
    width: auto;
    margin-top: 25px;
    margin-left: 18px;
}
.defenderbutton2 {
    height: 20px;
    width: auto;
    margin-top: 25px;
    margin-left: 33px;
}